@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');


:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body {
    font-family: var(--sm-font);
}


/* Botão */
.bg-primary {
    background-color: var(--pink) !important;
}


/* Navbar */
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}


.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}


.nav-link:hover {
    color: var(--pink) !important;
}


.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}









/* Media queries/Responsividade */
@media(min-width: 992px){
    .nav-item {
        border-bottom: none;
    }
}










